In [1]:
# 반복문
# for 반복문:
# for 변수 in range(반복횟수):
# 반복할 실행문

In [4]:
# for (int index = 0; index < 5; index++) - 반복문X
# 위와 동일한 구조(반복문 실행X) int[] array = {0, 1, 2, 3, 4};
# for (int index: array) {} -  반복문 O

# range(정수) : 0부터 정수-1 까지의 길이를 가지는 정수 리스트 생성
# range(시작 정수, 종료 정수) : 시작 정수부터 종료 정수까지의 정수 리스트를 생성
# range(시작 정수, 종료 정수, 차이) : 시작 정수부터 종료 정수-1 까지의 정수 리스트를 생성하는데 
#                                     차이정수 만큼의 차이를 가지며 변경됨 

print(list(range(5)))

for index in range(5):
    print(index)
for index in range(5, 10):
    print(index)
for index in range(5, 10, 3):
    print(index)
for index in range(10, -1, -1):
    print(index)

[0, 1, 2, 3, 4]
0
1
2
3
4
5
6
7
8
9
5
8
10
9
8
7
6
5
4
3
2
1
0

In [29]:
for i in range(1, 11):
    print('*' * i)

*
**
***
****
*****
******
*******
********
*********
**********

In [8]:
for i in range(10, 0, -1):
    print('*' * i)

**********
*********
********
*******
******
*****
****
***
**
*

In [10]:
for i in range(1, 10, 1):
    print('*' * i)
for i in range(10, 0, -1):
    print('*' * i)

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [53]:
# 선생님 코드
for count in range(1, 20):
    if count <= 10:
        print("*" * count)
    else:
        print("*" * (20 - count))

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [45]:
for i in range(1, 10, +2):
    print(f"{('*' * i):^11}" )
for i in range(11, 0, -2):
    print(f"{('*' * i):^11}" )

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [51]:
# 선생님 코드
for count in range(1, 12):
    if count <= 6:
        print(" " * (6 - count) + "*" * (count * 2 - 1))
    else:
        print(" " * (count - 6) + "*" * ((12 - count) * 2 - 1))

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [52]:
# 선생님 코드
for count in range(1, 12):
    star = "*"
    if count <= 6:
        star = "*" * (count * 2 - 1)
    else:
        star = "*" * ((12 - count) * 2 - 1)
    print(f'{star:^11}')

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [50]:
# for i in range(12):
#     if i % 2 == 0:
#         print(f"('*' * (i + 1)):^12)")

('*' * (i + 1)):^12)
('*' * (i + 1)):^12)
('*' * (i + 1)):^12)
('*' * (i + 1)):^12)
('*' * (i + 1)):^12)
('*' * (i + 1)):^12)

In [ ]:
for i in range(4):
    for j in range(4):
        print(i + j, end=" ")
    print()

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [54]:
for start in range(4):
    for value in range(start, start + 4):
        print(value, end=" ")
    print()

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [48]:
for a in range(1, 7):
    for b in range(1, 7):
        if (a + b) % 4 == 0:
            print(f'{a} {b}')

1 3
2 2
2 6
3 1
3 5
4 4
5 3
6 2
6 6

In [ ]:
'''
어떤 주식의 가격은 매일 한 번 동전을 던져서 앞면이 나오면 전날 가격의 2배가 되고, 뒷면이 나오면 전날 가격의 절반이 된다.
 1일에 주식의 가격이 1,024원이었을 때, 4일 주식의 가격이 나올 수 있는 경우를 모두 구한다. (힌트: for 반복문이 3개 중첩되어야 한다)
'''

In [ ]:
# 다 못풀었음
price = 1024
i = 0
for days in range(24):
    for f in range(i, 4, 1):
        for b in range(j, 4-i, -1):
            print(price * 2, end = " ")
            price = price * 2
        print(price / 2, end = " ")
        price = price / 2
    print("")
    price = 1024

In [1]:
for day1 in range(2):
    for day2 in range(2):
        for day3 in range(2):
            for day4 in range(2):
                print(1024 * 2**(2*day1 - 1) * 2**(2*day2 - 1) * 2**(2*day3 - 1) * 2**(2*day4 - 1))

64.0
256.0
256.0
1024.0
256.0
1024.0
1024.0
4096.0
256.0
1024.0
1024.0
4096.0
1024.0
4096.0
4096.0
16384

In [44]:
price = 1024
i = 1
for i in range(6):
    for acs in range(i, 3):
        
        price = price * 2
        print(price, end=" ")
    for decs in range(3 - i, 3):
        price = price / 2
        print(price, end=" ")
    print()
    price = 1024

2048 4096 8192
2048 4096 2048.0
2048 1024.0 512.0
512.0 256.0 128.0
512.0 256.0 128.0 64.0
512.0 256.0 128.0 64.0 32.0

In [181]:
for count in range (1, 11):
    sum = 0
    for value in range(count):
        sum += value
    print(sum)

0
1
3
6
10
15
21
28
36
45

In [ ]:
# 다음과 같은 수열이 있을 경우에 10번째 수열의 값을 구한다.

# 1+1+2+1+2+3+1+2+3+4+⋯+1+⋯+10

In [180]:
sum = 0
for count in range (1, 11):
    for value in range(count + 1):
        sum += value
print(sum)

220